.sider {
    background: #333;
    height: 100vh;
    color: #fff;
}
.header {
    background: #666;
    height: 50px;
}
.layout {
    min-width: 1024px;
}
.content {
    background: #eee;
}

:global {
    .crumb {
        display: inline;
        float: left;
        height: 50px;
        line-height: 50px;
    }
}
