@font-face {
  font-family: "iconfont"; /* Project id 3122488 */
  src: url('iconfont.woff2?t=1647316412533') format('woff2'),
       url('iconfont.woff?t=1647316412533') format('woff'),
       url('iconfont.ttf?t=1647316412533') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e60f";
}

.icon-shouqicaidan:before {
  content: "\e60c";
}

.icon-zhankaicaidan:before {
  content: "\e60e";
}

.icon-rizhiguanli1:before {
  content: "\e606";
}

.icon-peizhibaoxiazai1:before {
  content: "\e607";
}

.icon-shujuguanli:before {
  content: "\e608";
}

.icon-xiangmuguanli1:before {
  content: "\e609";
}

.icon-shouquanmaguanli1:before {
  content: "\e60a";
}

.icon-xitongguanli1:before {
  content: "\e60b";
}

.icon-shujuguanlibeifen:before {
  content: "\e617";
}

.icon-mima:before {
  content: "\e61c";
}

.icon-wo:before {
  content: "\e63f";
}

.icon-xitongguanli:before {
  content: "\e60d";
}

.icon-rizhiguanli:before {
  content: "\e614";
}

.icon-xiangmuguanli:before {
  content: "\e601";
}

.icon-logo:before {
  content: "\e602";
}

.icon-peizhibaoxiazai:before {
  content: "\e603";
}

.icon-shouquanmaguanli:before {
  content: "\e604";
}

